<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход</title>
</head>
<body>
<form method="post" action="/signIn">
    <table align="center">
        <tr>
            <th>Email:</th>
        </tr>
        <tr>
            <th>
                <label>
                    <input type="email" name="email" placeholder="Введите email...">
                </label>
            </th>
        </tr>
        <tr>
            <th>Пароль:</th>
        </tr>
        <tr>
            <th>
                <label>
                    <input type="password"  name="password" placeholder="Введите пароль...">
                </label>
            </th>
        </tr>
        <tr>
            <th><input type="submit" value="Вход"></th>
        </tr>
    </table>
   </form>
<section align="center">
    <a href="/signUp">Регистрация</a>
</section>
</body>
</html>